<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>
    <script src="https://kit.fontawesome.com/9fcc9120aa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body id="inicio">
    <header>
        <nav>
            <ul>

                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/music">Music</a></li>
                <li><a href="/contact">Contact</a></li>



            </ul>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>

        </nav>
    </header>
    <main>
        <h1>Music //</h1>
        <h5>Direct links</h5>
        <nav>
            <ul>
                <li><a href="#album">album</a></li>
                <li><a href="#organic">video:organic love</a></li>
                <li><a href="#street">video:street light</a></li>
                
            </ul>
        </nav>
            <!-- caja para albumes -->
        <section>
                    <!-- caja albumes -->
            <article id="album"> 
                
                <h3>album <br>twist my reality</h3>
                <img src="images/emilia-play-list.png" alt="" width="640">
           
            <ol>
                <li><i class="fa fa-play"></i>Organic Love</li>
                <li><i class="fa fa-play"></i>
                    twist in my reality</li>
                <li><i class="fa fa-play"></i>
                    street light</li>
                <li><i class="fa fa-play"></i>
                    Lorem ipsum dolor sit amet.</li>
            </ol>
            <a href="#">go top</a>
        </article>
  </section>
        <!-- caja para los videos -->
  <section>
            <!-- caja para videos-->
        <article id="organic">
                <!-- caja video -->
                <h3>video <br>organic love</h3>
                <iframe src="https://player.vimeo.com/video/135166028" width="640" height="360" frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <div>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and Filmed by NICOLAS TROY</p>
                <p>Produced by NIKI HEART,</p>
                <p>Wix Films LTD.</p>
            </div>
            <a href="#">go top</a>
       </article>
        <!-- caja de video -->
       <article id="#street">
        <h3>video <br>street light</h3>
        <iframe src="https://player.vimeo.com/video/134861419" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

    <div>
        <p>Directed by VINCE MALC & EMILIA COLE</p>
        <p>Edited and Filmed by NICOLAS TROY</p>
        <p>Produced by NIKI HEART,</p>
        <p>Wix Films LTD.</p>
    </div>
    <a href="#inicio">go top</a>
       </article>

  </section>
    </main>

    <footer>
        <!-- footer la parte de abajo de la pag -->

    </footer>
</body>

</html>